{% extends 'base.html' %}

{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="default-dt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="title129">	
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="life-gambo">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="default-title left-text">
                        <h2>About WOWY</h2>
                        <p>Your Trusted Grocery Partner</p>
                    </div>
                    <div class="about-content">
                        <p>Welcome to WOWY - your one-stop destination for fresh groceries and daily essentials. We are committed to bringing quality products directly to your doorstep with unmatched convenience and reliability. Our carefully curated selection ensures you get the best produce, pantry items, and household necessities at competitive prices. With our efficient delivery system and dedicated customer service, we aim to make your grocery shopping experience seamless and enjoyable. Trust Groco to be your partner in maintaining a well-stocked kitchen and a happy home.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="{% static 'frontend/images/about.svg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-steps-group white-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="about-step">
                        <div class="about-step-img">
                            <img src="{% static 'frontend/images/about/icon-1.svg' %}" alt="">
                        </div>
                        <h4>400+</h4>
                        <p>Team members joined WOWY in the last 6 months</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="about-step">
                        <div class="about-step-img">
                            <img src="{% static 'frontend/images/about/icon-2.svg' %}" alt="">
                        </div>
                        <h4>2x</h4>
                        <p>Growth in customer base month over month</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="about-step">
                        <div class="about-step-img">
                            <img src="{% static 'frontend/images/about/icon-3.svg' %}" alt="">
                        </div>
                        <h4>10 days</h4>
                        <p>Record time to expand to 8 major cities</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="about-step">
                        <div class="about-step-img">
                            <img src="{% static 'frontend/images/about/icon-4.svg' %}" alt="">
                        </div>
                        <h4>95k</h4>
                        <p>Happy customers using our mobile apps</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="how-order-gambo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="default-title">
                        <h2>How Do I Order?</h2>
                        <p>How Do I order on Gambo</p>
                        <img src="images/line.svg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="how-order-steps">
                        <div class="how-order-icon">
                            <i class="uil uil-search"></i>
                        </div>
                        <h4>Browse gambo.com for products or use the search feature</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="how-order-steps">
                        <div class="how-order-icon">
                            <i class="uil uil-shopping-basket"></i>
                        </div>
                        <h4>Add item to your shopping Basket</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="how-order-steps">
                        <div class="how-order-icon">
                            <i class="uil uil-stopwatch"></i>
                        </div>
                        <h4>Choose a convenient delivery time from our 5 Slots* a day</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="how-order-steps">
                        <div class="how-order-icon">
                            <i class="uil uil-money-bill"></i>
                        </div>
                        <h4>Select suitable payment option(Cash, Master, Credit Card, Discover)</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="how-order-steps">
                        <div class="how-order-icon">
                            <i class="uil uil-truck"></i>
                        </div>
                        <h4>Your products will be home-delivered as per your order.</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="how-order-steps">
                        <div class="how-order-icon">
                            <i class="uil uil-smile"></i>
                        </div>
                        <h4>Happy Curstomers</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 