<div class="product-item">
    <a href="" class="product-img">
        {% if product.primary_image %}
            <img src="{{ product.primary_image.image.url }}" alt="{{ product.name }}">
        {% else %}
            <img src="https://placehold.co/400x400?text=No+Image" alt="{{ product.name }}">
        {% endif %}
        <div class="product-absolute-options">
            {% if product.discount_percentage > 0 %}
                <span class="offer-badge-1">{{ product.discount_percentage }}% off</span>
            {% endif %}
            <span class="like-icon" title="wishlist"></span>
        </div>
    </a>
    <div class="product-text-dt">
        {% if product.stock <= 0 %}
            <p>Not Available <span>(Out Of Stock)</span></p>
        {% else %}
            <p>Available <span>(In Stock)</span></p>
        {% endif %}
        <h4>{{ product.name }}</h4>
        <div class="product-price">
            ৳<span class="sell_price">{{ product.selling_price }}</span>
            <span class="line-through">৳{{ product.original_price }}</span>
        </div>
        <div class="qty-cart">
            <div class="quantity buttons_added">
                <input type="button" value="-" class="minus minus-btn">
                <input type="number" step="1" name="quantity" min="1" value="1" class="input-text qty text">
                <input type="button" value="+" class="plus plus-btn">
            </div>
            <span class="cart-icon add-to-cart" data-id="{{ product.id }}">
                <i class="uil uil-shopping-cart-alt"></i>
            </span>
        </div>
    </div>
</div>