{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <title> WOWY | {% block title %} E-commerce {% endblock %} </title>

    <!-- Stylesheets -->

    <link href="{% static 'frontend/css/unicons.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/night-mode.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/step-wizard.css' %}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="{% static 'frontend/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/semantic.min.css' %}" rel="stylesheet">

    {% block style %}{% endblock %}

</head>

<body>
<!-- start per-loader -->
<div class="loader-container">
    <div class="loader-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- end per-loader -->

{% include 'includes/header.html' %}

<div class="bs-canvas bs-canvas-right position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
        <div class="d-inline-block  main-cart-title">My Cart <span>(2 Items)</span></div>
        <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div> 
    <div class="bs-canvas-body">
        <div class="cart-top-total">
            <div class="cart-total-dil">
                <h4>Gambo Super Market</h4>
                <span>$34</span>
            </div>
            <div class="cart-total-dil pt-2">
                <h4>Delivery Charges</h4>
                <span>$1</span>
            </div>
        </div>
        <div class="side-cart-items">
            <div class="cart-item">
                <div class="cart-product-img">
                    <img src="images/product/img-1.jpg" alt="">
                    <div class="offer-badge">6% OFF</div>
                </div>
                <div class="cart-text">
                    <h4>Product Title Here</h4>
                    <div class="cart-radio">
                        <ul class="kggrm-now">
                            <li>
                                <input type="radio" id="a1" name="cart1">
                                <label for="a1">0.50</label>
                            </li>
                            <li>
                                <input type="radio" id="a2" name="cart1">
                                <label for="a2">1kg</label>
                            </li>
                            <li>
                                <input type="radio" id="a3" name="cart1">
                                <label for="a3">2kg</label>
                            </li>
                            <li>
                                <input type="radio" id="a4" name="cart1">
                                <label for="a4">3kg</label>
                            </li>
                        </ul>
                    </div>
                    <div class="qty-group">
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus minus-btn">
                            <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                            <input type="button" value="+" class="plus plus-btn">
                        </div>
                        <div class="cart-item-price">$10 <span>$15</span></div>
                    </div>
                    
                    <button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-product-img">
                    <img src="images/product/img-2.jpg" alt="">
                    <div class="offer-badge">6% OFF</div>
                </div>
                <div class="cart-text">
                    <h4>Product Title Here</h4>
                    <div class="cart-radio">
                        <ul class="kggrm-now">
                            <li>
                                <input type="radio" id="a5" name="cart2">
                                <label for="a5">0.50</label>
                            </li>
                            <li>
                                <input type="radio" id="a6" name="cart2">
                                <label for="a6">1kg</label>
                            </li>
                            <li>
                                <input type="radio" id="a7" name="cart2">
                                <label for="a7">2kg</label>
                            </li>
                        </ul>
                    </div>
                    <div class="qty-group">
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus minus-btn">
                            <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                            <input type="button" value="+" class="plus plus-btn">
                        </div>
                        <div class="cart-item-price">$24 <span>$30</span></div>
                    </div>	
                    <button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-canvas-footer">
        <div class="cart-total-dil saving-total ">
            <h4>Total Saving</h4>
            <span>$11</span>
        </div>
        <div class="main-total-cart">
            <h2>Total</h2>
            <span>$35</span>
        </div>
        <div class="checkout-cart">
            <a href="#" class="promo-code">Have a promocode?</a>
            <a href="#" class="cart-checkout-btn hover-btn">Proceed to Checkout</a>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

{% include 'includes/footer.html' %}


<!-- Javascript -->
<script src="{% static 'frontend/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'frontend/js/owl.carousel.js' %}"></script>
<script src="{% static 'frontend/js/semantic.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'frontend/js/product.thumbnail.slider.js' %}"></script>
<script src="{% static 'frontend/js/offset_overlay.js' %}"></script>
<script src="{% static 'frontend/js/night-mode.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="{% static 'frontend/js/custom.js' %}"></script>
<script src="{% static 'frontend/js/frontend.js' %}"></script>

{% block script %}{% endblock %}

<script src="{% static 'frontend/js/cart.js' %}"></script>

</body>
</html>