{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <title> WOWY | {% block title %} E-commerce {% endblock %} </title>

    <!-- Stylesheets -->

    <link href="{% static 'frontend/css/unicons.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/night-mode.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/step-wizard.css' %}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="{% static 'frontend/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/semantic.min.css' %}" rel="stylesheet">

    {% block style %}
    <style>
        .swal-container-class {
            z-index: 99999 !important;
        }
        
        .swal-popup-class {
            z-index: 99999 !important;
        }
    </style>
    {% endblock %}

</head>

<body>
<!-- start per-loader -->
<div class="loader-container">
    <div class="loader-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- end per-loader -->

{% include 'includes/header.html' %}

<div class="bs-canvas bs-canvas-right position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
        <div class="d-inline-block main-cart-title">My Cart <span>(0 Items)</span></div>
        <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div> 
    <div class="bs-canvas-body">
        <div class="cart-top-total">
            <div class="cart-total-dil">
                <h4>Shopping Cart</h4>
            </div>
        </div>
        <div class="side-cart-items">
            <!-- Cart items will be inserted here dynamically -->
        </div>
    </div>
    <div class="bs-canvas-footer">
        <div class="main-total-cart">
            <h2>Total</h2>
            <span>৳0.00</span>
        </div>
        <div class="checkout-cart">
            <a href="#" class="cart-checkout-btn hover-btn">Proceed to Checkout</a>
        </div>
    </div>
</div>

{% block content %}{% endblock %}

{% include 'includes/footer.html' %}


<!-- Javascript -->
<script src="{% static 'frontend/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'frontend/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'frontend/js/owl.carousel.js' %}"></script>
<script src="{% static 'frontend/js/semantic.min.js' %}"></script>
<script src="{% static 'frontend/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'frontend/js/product.thumbnail.slider.js' %}"></script>
<script src="{% static 'frontend/js/offset_overlay.js' %}"></script>
<script src="{% static 'frontend/js/night-mode.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'frontend/js/custom.js' %}"></script>
<script src="{% static 'frontend/js/frontend.js' %}"></script>

{% block script %}{% endblock %}

<script src="{% static 'frontend/js/cart.js' %}"></script>

</body>
</html>