{% extends 'base.html' %}

{% block content %}
    <!-- Category Model Start-->
    <div id="category_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content"> 
                    <div class="cate-header">
                        <h4>Select Category</h4>
                    </div>
                    <ul class="category-by-cat">
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'products:category' category.slug %}" class="single-cat-item">
                                    <div class="icon">
                                        <img src="{{ category.image.url }}" alt="">
                                    </div>
                                    <div class="text"> {{ category.name }} </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="#" class="morecate-btn"><i class="uil uil-apps"></i>More Categories</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Category Model End-->
    <div class="wrapper">
        <!-- Categories Start -->
        <div class="section145">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title-tt">
                            <div class="main-title-left">
                                <span> Shop By </span>
                                <h2>Categories</h2>
                            </div>
                        </div>
                    </div>
                    {% if categories.count > 0 %}
                        <div class="col-md-12">
                            <div class="owl-carousel cate-slider owl-theme">
                                {% for category in categories %}
                                    <div class="item">
                                        <a href="" class="category-item">
                                            <div class="cate-img">
                                                <img src="{{ category.image.url }}" alt="">
                                            </div>
                                            <h4> {{ category.name }} </h4>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-12 col-md-12">
                            <div class="how-order-steps">
                                <div class="how-order-icon">
                                    <i class="uil uil-apps"></i>
                                </div>
                                <h4> No Category Available </h4>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Categories End -->

        <!-- New Products Start -->
        <div class="section145">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title-tt">
                            <div class="main-title-left">
                                <span>For You</span>
                                <h2>Added new products</h2>
                            </div>
                            <a href="/all-products" class="see-more-btn">See All</a>
                        </div>
                    </div>
                    {% if products.count > 0 %}
                        <div class="col-md-12">
                            <div class="owl-carousel featured-slider owl-theme">
                                {% for product in products %}
                                    <div class="item">
                                        {% include 'includes/product.html' with product=product %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-12 col-md-12">
                            <div class="how-order-steps">
                                <div class="how-order-icon">
                                    <i class="uil uil-shopping-basket"></i>
                                </div>
                                <h4> No Product Available </h4>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- New Products End -->
    </div>
{% endblock %}